.nav li {
    display: inline-block;
    width: 6em;
    align-items: center;
    text-align: center;
    font-weight: light;
    font-family: 'Montserrat', Arial, sans-serif;
    color: rgb(17, 17, 17);
    font-size: 1.25em;

}

.nav {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    background: none;
}

.logo {
    position: relative;
    top: 0;
    left: 0;
    padding: 0 20px;
    background: rgb(125, 61, 61);
    font-weight: bold;
    font-size: 1.5em;
}

#div-1 {
    width: 800px;
    margin: 0 auto;
    display: flex;
    background-color: #fefae0;
    align-items: flex-end;
    width: 100vw;
    min-height: 65px;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    justify-content: flex-end;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}

#div-2 {
    display: block;
    background-color: #fff1d99c;
    text-align: center;
    margin-top: 30px;
    margin: bottom 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.center-images {
    text-align: center;
    margin: 30px 0;
}

.center-images img {
    display: inline-block;
    margin: 0 50px;
    width: 245px;
    height: auto;
}

.center-videos {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.center-videos video {
    display: inline-block;
    margin: 0 100px;
    width: 400px;
    height: auto;
}

.brown {
    background-color: #36271E;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif
}


.chunk {
    background-color: #36271E;
    border: 15px dotted #feffc7d5;
    padding: 30px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.6em
}

.chunk a {
    color: #00d900;
    font-weight: bold;
    text-decoration: underline;
    transition: color 0.2s;
}

.chunk a:hover {
    color: yellow;
    text-decoration: underline;
}

body {
    background-color: #DDB44B;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.parent {
    background: #fff1d99c;
    border: 8px dotted #922006db;
    padding: 20px;
    margin: 24px auto;
}

.child {
    padding: 1em;
    align-items: normal;
    font-size: 16px;
    font-weight: 200;
    color: hsl(0, 0%, 4%);
    margin-bottom: 12px;
    text-align: center;
}


.child-one {
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px 20px;
    background-color: #36271E;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.5em;


}

.child-two {
    background-color: #e7c266;
    position: relative;
    font-style: normal;
    font-weight: bold;


}

.child-three {
    position: fixed;
    right: 0;
    top: 0;
    position: fixed;
    padding: 10px 20px;
    background-color: #36271E;
    color: whitesmoke;
    font-weight: bold;
    font-size: 1.5em;

}